Repository gemini-hlsw/crystal: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

effect Throttler
  modules/core/js/src/main/scala/crystal/react/hooks/UseSingleEffect.scala
  modules/core/shared/src/main/scala/crystal/Deglitcher.scala
  modules/core/shared/src/main/scala/crystal/Throttler.scala
  modules/tests/shared/src/test/scala/crystal/DeglitcherSpec.scala
  modules/tests/shared/src/test/scala/crystal/ThrottlerSpec.scala
Due: Label core PRs, Label tests PRs

useThrottledCallback
  README.md
  modules/core/js/src/main/scala/crystal/react/hooks/useThrottledCallback.scala
Due: Label core PRs

Scala 3.7
  build.sbt
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectResult.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectStreamResource.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseStreamResource.scala
  modules/core/js/src/main/scala/crystal/react/package.scala
  modules/core/js/src/main/scala/crystal/react/reuse/package.scala
  modules/core/js/src/main/scala/crystal/react/syntax/view.scala
  modules/tests/shared/src/test/scala/crystal/ViewThrottlerFSpec.scala
Due: Label core PRs, Label tests PRs

fix for scala 3.7
  project/plugins.sbt
Due: none

scala 3.7 workaround for scalajs
  build.sbt
  project/plugins.sbt
Due: none

tests too
  build.sbt
Due: none

avoid blocking the fiber when throttling
  modules/core/shared/src/main/scala/crystal/Throttler.scala
  modules/tests/shared/src/test/scala/crystal/ThrottlerSpec.scala
Due: Label core PRs, Label tests PRs

bump versions
  project/Settings.scala
  project/plugins.sbt
Due: none

bump base version
  build.sbt
Due: none

useEffectResult* returns Reusable
  build.sbt
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectResult.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseSignalStream.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseThrottlingStateView.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseEffectResultSpec.scala
Due: Label core PRs, Label tests PRs

update dependencies
  build.sbt
  modules/tests/js/src/test/scala/crystal/react/hooks/UseEffectResultSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseSignalStreamSpec.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label tests PRs

regenerate workflow
  .github/workflows/ci.yml
Due: none

scalafmtGenerate
  .scalafmt-common.conf
Due: none

scalafmt
  modules/core/js/src/main/scala/crystal/react/hooks/UseAsyncEffect.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectStreamResource.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseSingleEffect.scala
  modules/core/shared/src/main/scala/crystal/Throttler.scala
Due: Label core PRs

scalafmt sbt
  build.sbt
Due: none

ViewF.withModPatch
  modules/core/shared/src/main/scala/crystal/viewF.scala
  modules/tests/shared/src/test/scala/crystal/ViewFSpec.scala
Due: Label core PRs, Label tests PRs

allow access to effect result state
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectResult.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseSerialStateView.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseStateViewWithReuse.scala
  modules/core/js/src/main/scala/crystal/react/syntax/view.scala
Due: Label core PRs

Update to scala 3.3.7
  .github/workflows/ci.yml
  build.sbt
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectStreamResource.scala
  modules/core/js/src/main/scala/crystal/react/hooks/UseResource.scala
  modules/tests/shared/src/test/scala/crystal/ViewThrottlerFSpec.scala
Due: Label core PRs, Label tests PRs

Configure Dependabot for npm with daily updates
  .github/dependabot.yml
Due: none

Change Dependabot update interval from daily to weekly
  .github/dependabot.yml
Due: none

add claude.md, bump java, cleanup readme
  CLAUDE.md
  README.md
  flake.nix
Due: none

better compact logic in Throttlers, avoid race conditions
  modules/core/shared/src/main/scala/crystal/Throttler.scala
  modules/core/shared/src/main/scala/crystal/ViewThrottlerF.scala
Due: Label core PRs

cancel abandoned effects in useEffectResult
  README.md
  modules/core/js/src/main/scala/crystal/react/hooks/UseEffectResult.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseEffectResultSpec.scala
Due: Label core PRs, Label tests PRs

implement tests for all hooks
  README.md
  modules/tests/js/src/test/scala/crystal/react/hooks/UseAsyncEffectSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseEffectStreamResourceSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseEffectWhenDepsReadySpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseResourceSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseSerialStateSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseSerialStateViewSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseShadowRefSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseSingleEffectSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseStateCallbackSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseStateViewSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseStateViewWithReuseSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseStreamResourceSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseThrottledCallbackSpec.scala
  modules/tests/js/src/test/scala/crystal/react/hooks/UseThrottlingStateViewSpec.scala
Due: Label tests PRs

Adopt latest sbt-lucuma
  .github/workflows/ci-failure-slack.yml
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
